
code/.ipynb_checkpoints/data_scraper-checkpoint.ipynb
code/.ipynb_checkpoints/data_scraper_comments-checkpoint.ipynb
code/.ipynb_checkpoints/data_scraper_reviews-checkpoint.ipynb
code/.ipynb_checkpoints/data_scraper_games-checkpoint.ipynb
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/metacritic_text_analytics.iml
.idea/inspectionProfiles/profiles_settings.xml
.DS_Store
code/.ipynb_checkpoints/preprocessing-checkpoint.ipynb
code/data_scraper-GTA.ipynb
code/.ipynb_checkpoints/time-series-checkpoint.ipynb
code/scraper.py
data/.ipynb_checkpoints/gta_reviews-checkpoint.csv
code/.ipynb_checkpoints/similarity and clustering V2-checkpoint.ipynb
code/.ipynb_checkpoints/gta_data_scraper-checkpoint.ipynb
code/.ipynb_checkpoints/data_scraper-Copy1-checkpoint.ipynb
