
code/.ipynb_checkpoints/data_scraper-checkpoint.ipynb
code/.ipynb_checkpoints/data_scraper_comments-checkpoint.ipynb
code/.ipynb_checkpoints/data_scraper_reviews-checkpoint.ipynb
code/.ipynb_checkpoints/data_scraper_games-checkpoint.ipynb
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/metacritic_text_analytics.iml
.idea/inspectionProfiles/profiles_settings.xml
.DS_Store
code/.ipynb_checkpoints/preprocessing-checkpoint.ipynb
code/data_scraper-GTA.ipynb
code/.ipynb_checkpoints/time-series-checkpoint.ipynb
